/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    min-width: 557px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

nav {
    background-color: #FFD929;
}

#logo {
    width: 106px;
}

#logIn {
    background-color: transparent;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(45, 49, 56, 0.15);
    border-image: initial;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

#signUp {
    background-color: #2D3138;
    color: #FFD929;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(45, 49, 56, 0.15);
    border-image: initial;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

#homeDiv {
    background-image: url(https://raster-static.postmates.com/?url=https%3A%2F%2Fbuyer-static-gcp.postmates.com%2Fdist%2Fprod%2Fcollection-feed-header-refresh.ff66a93edfd10817d088e6b48bbb80cbedc459960022385bbdf8141e74de7c68c092f2444e22133303ff25dc3e90131d9a4474fd8a4fd1874ca7af56840d0170.jpg&quality=85&w=3200&h=0&mode=auto&format=webp&v=4);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 54px;
    /* background-attachment: fixed; */
}

#restaurantDiv {
    /* background-image: url(https://raster-static.postmates.com/?url=https%3A%2F%2Fd1725r39asqzt3.cloudfront.net%2F1cb86454-1ff3-47f6-bf29-1ff77d4bcc9f%2Forig.jpg&quality=85&w=640&h=0&mode=auto&format=webp&v=4); */
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-top: 54px;
}

#crave {
    padding-top: 5%;
    font-size: 64px;
    line-height: 0.97;
    letter-spacing: -3.5px;
    font-weight: 700;
}

#deliveryBar {
    background: white;
    padding: 15px;
    border-bottom: 1px solid rgba(217, 219, 224, 0.5);
    position: sticky;
    top: 50px;
    z-index: 980;
}

#pipe {
    height: 30px;
    width: 1px;
    margin-right: 17px;
    background: rgba(217, 219, 224, 0.5);
}

.yellow-bg {
    background-color: #FFD929;
    height: 362px;
    padding: 0;
}

#logoRest {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.list-group-item:hover {
    /* outline: 3px #FFD929 solid; */
    z-index: 200;
}

:disabled {
    cursor: not-allowed;
}

/**/
.pos-sticky2{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0;
    background-color: white;
    z-index: 999;
  }
  .verticale{
      border-right: 1px solid lightgrey;
      height: 30px;
      padding-left: 12px;
   
  }
  
  .verticale2{
      border-right: 2px solid lightgrey;
      height: 30px;
      margin-left: 5px;
  }
  
  li.list-group-item {
    display: flex;
    justify-content: space-between;
  }

  .accountIcons {
      font-size: 2em;
      margin-right: 10px;
      cursor: pointer;
  }

  #welcomeText {
    font-weight: 700;
  }